.container {
    width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    height: 600px;
    position: relative
}
.a, .b,.c,.d {
    border: 1px solid  yellow;
    width: 100px;
    height: 100px;
    position: relative;
    /* border-radius: 5px; */
    text-align: center;
    
}
.a {
    top: 150px;
    left: 250px;
}
.b {
    top:45px;
    right: -500px;
}
.c {
    bottom:-150px;
    left:250px;
}
.d {
    bottom: -50px;
    right: -500px;
}
.e{
    border: 1px solid red;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 220px;
    left: 300px;
}